/* font-family: PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Russo One', sans-serif;
font-family: 'Acme', sans-serif;
*/

#contenidos{
	width:500px;
	height: auto;
	margin: auto;
	position: relative;
	background:blue;

}

h1{
	font-family: 'Russo One', sans-serif;
	margin-left: 10px;
	font-size: 60px;
	text-transform: center;
}

h2{
	font-family: 'Acme', sans-serif;
	margin-left: 10px;
	font-size: 30px;
	text-transform: right;
}

header{
	width: 1000px;
	height: 120px;
	background: yellow;
}